.navbar{
   
    height: 5rem;
    width: 100vw;
    padding: 0rem 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    
}
ul{
    display: flex;
    gap: 2rem;
}
ul>li>.logo{
    font-size: 2rem;
    font-weight: 700;
}
li{
    color: aliceblue;
    transition: 0.71s;
}
li:hover,
li.active
{
    color: rgb(7, 208, 107);
}