/* styles.css */

/* Smooth scroll for anchor links */
html {
  scroll-behavior: auto;
}



section {
  padding: 5rem 5rem;
}

/* Navbar active effect (optional) */
nav ul li a.active {
  border-bottom: 2px solid white;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* Tailwind gray-600 */
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}
